<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surakarta</title>
    <link rel="stylesheet" href="../../public/css/q1.css">
</head>
<body>
<img src="../../public/img/bg.jpg" id="bgimg">
<img src="../../public/img/Surakarta.jpg" id="map" draggable="false" width="512" style="display: none;">
<div id="drawbox"></div>
<button onclick="reset()" id="stop" style="display: none;">STOP</button>
<a href="q1readme.html">README</a>
<script src="../../public/js/q1.js"></script>
</body>
</html>